# Node.js
node_modules/
build/
dist/
.env
.env.* # например .env.development, .env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# TypeScript
*.tsbuildinfo

# Editor configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store

# Optional: coverage from tests
coverage/

# Optional: compiled static files
public/

# Optional: Swagger JSON
swagger.json
/generated/prisma
